<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>{{title}}</h1>
    <p>Do you and your friends have a hard time picking a spot to eat, day after day? Perhaps one of you had Thai yesterday and don't want to have the same again today. Perhaps another of you never wants to go to the burger joint down the street. Or maybe you just need someone to pick a random acceptable choice. Let us help!</p>
    <div id="new-room"></div>
  </div>
</div>

<div class="container">

  {{> footer}}
</div> <!-- /container -->
{{> scripted}}
<script src="/js/home.js"></script>