<div class="container">
  <!-- Example row of columns -->
  <div id="room-container">
  </div>
  {{> footer}}
</div> <!-- /container -->
{{> scripted}}
<script>
  window.__DEV__ = true;
</script>
<script src="/js/room.js"></script>