<div class="container">
  <!-- Example row of columns -->
  <div id="room-container">
  </div>
  {{> footer}}
</div> <!-- /container -->
<script>
  roomLocation = '{{{location}}}';
  roomName = '{{{name}}}';
</script>
{{> scripted}}
<script src="/js/room.js"></script>