/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.footer-vote {
  margin-right: 15px;
  line-height: 25px;
}

#room {
  padding-top: 75px;
}

#room > div {
  padding: 5px;
  border: 1px solid black;
}

#room .table tr td {
  border-width: 0;
}

#room .room-people {
  cursor: pointer;
  color: #fff;
}

#room .room-people .label {
  margin: 5px 0 0 5px;
}

.buttonRow {
  width: 100px;
}

.buttonRow .btn {
  margin-bottom: 10px;
}

.room-cat .label {
  margin-left: 5px;
}

.not-chosen {
  display: none;
}

[data-mode="needChoice"] .room-cat.not-chosen  {
  display: block;
}

[data-mode="edit"] .not-chosen  {
  display: block;
}

[data-mode="needChoice"]  {
  cursor: pointer;
}

[data-mode="edit"] {
  cursor: pointer;
}

[data-mode="edit"] .room-cat {
  background-color: lightpink;
}

[data-mode="edit"] .room-cat.chosen {
  background-color: aliceblue;
}

[data-mode="edit"] .room-rest {
  background-color: lightcoral;
}

[data-mode="edit"] .room-rest.chosen {
  background-color: lightgreen;
}