/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.footer-vote {
  margin-right: 15px;
  line-height: 25px;
}

#room > div {
  padding: 5px;
  border: 1px solid black;
}

[data-mode="edit"] button.edit {
  display: none;
}